
<div class="container flex m-8 gap-6 justify-center ">

    <div class="all-orders w-3/5">
        <h3 class="font-semibold">Orders ({{getAllOrders().length}})</h3>
        <div class="one-order" class="flex gap-3 border m-1" *ngFor="let order of getAllOrders()">
            <img class="w-30 h-32" src="{{order.image}}" alt="item-img">
            <div class="add-space flex justify-between ">
                <div class="order-details" class="flex-col space-y-4">
                    <p>{{order.productName}}</p>
                    <p>{{order.order_id}}</p>
                    <p *ngIf="!order.isCancelled" class="bg-[#ffe49b] p-1 max-w-max ">{{order.status}}</p>
                    <p *ngIf="order.isCancelled" class="bg-[#ffe49b] p-1 max-w-max">cancelled</p>
                </div>
                <p *ngIf="!order.isCancelled" class="bg-[#ffc831] p-1 rounded h-8 cursor-pointer" (click)="removeOrder(order.order_id)" >CANCEL</p>
                
            </div>
        
        </div>
       
    </div>
</div>