<div class="container flex m-8 gap-6 justify-center " >
    <div class="cart-details w-3/5 border">
    <div class="cart-title border p-2">
        <p class="">cart (3)</p>
    </div>
    <div class="cart-items ">
       
        <div class="one-cart-item border">
            <div class="top flex justify-between">
                <div class="img-name-desc flex m-2 gap-2">
                    <img src="" alt="img">
                    <div class="name-desc">
                        <p>Headphones</p>
                        <p>Pro6 Wireless Bluetooth Headsets Stereo HiFi Headphones</p>
                    </div>
                    
                </div>
                <P class="m-2 font-semibold">ksh 9000</P>
            </div>
           
            <div class="controls flex justify-between m-2">
                <p>X REMOVE</p>
                <div class="add-minus flex ">
                    <p>-</p>
                    <p>1</p>
                    <p>+</p>
                </div>
            </div>
           
        </div>
        <div class="one-cart-item border">
            <div class="top flex justify-between">
                <div class="img-name-desc flex m-2 gap-2">
                    <img src="" alt="img">
                    <div class="name-desc">
                        <p>Headphones</p>
                        <p>Pro6 Wireless Bluetooth Headsets Stereo HiFi Headphones</p>
                    </div>
                    
                </div>
                <P class="m-2 font-semibold">ksh 9000</P>
            </div>
           
            <div class="controls flex justify-between m-2">
                <p>X REMOVE</p>
                <div class="add-minus flex ">
                    <p>-</p>
                    <p>1</p>
                    <p>+</p>
                </div>
            </div>
           
        </div>
        <div class="one-cart-item border">
            <div class="top flex justify-between">
                <div class="img-name-desc flex m-2 gap-2">
                    <img src="" alt="img">
                    <div class="name-desc">
                        <p>Headphones</p>
                        <p>Pro6 Wireless Bluetooth Headsets Stereo HiFi Headphones</p>
                    </div>
                    
                </div>
                <P class="m-2 font-semibold">ksh 9000</P>
            </div>
           
            <div class="controls flex justify-between m-2">
                <p>X REMOVE</p>
                <div class="add-minus flex ">
                    <p>-</p>
                    <p>1</p>
                    <p>+</p>
                </div>
            </div>
           
        </div>
    </div>
    </div>
    <div class="checkout border h-2/5">
        <p class=" m-2 font-semibold">CART SUMMARY</p>
        <div class="cart-totals border flex justify-between ">
            <P class="m-2">Total</P>
            <p class="m-2 font-bold" >KSH 26,000</p>
        </div>
        <button class="border m-2 ">CHECKOUT(KSH 26,000)</button>
    </div>
</div>