<div
  class="bg-[#F9FAFB] w-[260px] min-h-full flex flex-col items-center justify-between"
>
  <div>
    <div class="flex items-center py-5 px-10 justify-between">
      <h2 class="text-[#FFC831] text-[2rem] border-r-2 pr-12 font-bold mr-10">
        kiDuka
      </h2>
      <!-- <span class="material-icons-round text-[#919EAB]">menu</span> -->
      <img src="../../../assets/icons/menu.svg" alt="" />
    </div>
    <div class="mt-10 pl-6 items-start justify-start">
      <h2
        class="flex items-center justify-start text-[#637381] p-4 rounded-full hover:bg-[#EFF2F5]"
      >
        <img
          src="../../../assets/icons/discover.svg"
          class="max-h-6 mr-4"
          alt=""
        />
        <h2 class="text-[14px] font-[400]">Home</h2>
      </h2>
      <h2
        class="flex items-center justify-start text-[#637381] p-4 rounded-full hover:bg-[#EFF2F5] mt-5"
      >
        <img
          src="../../../assets/icons/discoverp.svg"
          class="max-h-5 mr-4"
          alt=""
        />

        <h2
          class="text-[14px] font-[400] flex items-center justify-between w-full"
        >
          Discover
          <img
            src="../../../assets/icons/drop_down.svg"
            class="max-h-4"
            alt=""
          />
        </h2>
      </h2>
      <div class="text-[#637381] block ml-[1.4rem] pl-4 border-l">
        <h2
          class="text-[14px] p-4 font-[400] flex items-center justify-between w-full"
        >
          Electronics
        </h2>
        <h2
          class="text-[14px] p-4 font-[400] flex items-center justify-between w-full"
        >
          Clothes
        </h2>
        <h2
          class="text-[14px] p-4 font-[400] flex items-center justify-between w-full"
        >
          Bags
        </h2>
        <h2
          class="text-[14px] p-4 font-[400] flex items-center justify-between w-full"
        >
          Food
        </h2>
      </div>

      <h2
        class="flex items-center justify-start text-[#637381] p-4 rounded-full hover:bg-[#EFF2F5] mt-5"
      >
        <img
          src="../../../assets/icons/porpula_products.svg"
          class="max-h-6 mr-6 hover:text-[#FFC831]"
          alt=""
        />

        <h2 class="text-[14px] font-[400]">Porpular Products</h2>
      </h2>
      <h2
        class="flex items-center justify-start text-[#637381] p-4 rounded-full hover:bg-[#EFF2F5] mt-5"
      >
        <img
          src="../../../assets/icons/contact.svg"
          class="max-h-6 mr-4"
          alt=""
        />

        <h2 class="text-[14px] font-[400]">Contact</h2>
      </h2>
    </div>
  </div>
  <div
    class="border-t p-4 text-[#919EAB] flex flex-col items-center justify-center self-end"
  >
    <div class="flex">
      <h2 class="text-[14px] px-2 font-[400]">Terms</h2>
      <h2 class="text-[14px] px-2 font-[400]">Privacy</h2>
      <h2 class="text-[14px] px-2 font-[400]">Help</h2>
    </div>
    <h2 class="text-[12px] px-2 font-[400]">Copyright 2023 By theJitu</h2>
  </div>
</div>
