<div class="w-screen h-screen flex items-center justify-center bg-[#f3f2f7]">
  <div class="w-2/4 bg-white flex rounded-[1rem] drop-shadow-2xl">
    <div
      class="h-full flex flex-col justify-center bg-[#F6F7F9] p-[4rem] w-2/4"
    >
      <div class="flex flex-col items-center justify-center">
        <h2 class="text-3xl font-bold pb-8">Sign Up</h2>
      </div>
      <form class="flex flex-col">
        <label>Name:</label>
        <input placeholder="Enter your name" type="text" />
        <label>Email:</label>
        <input placeholder="Enter your email" type="email" />
        <label>Phone: </label>
        <input placeholder="Enter you phone number" type="number" />
        <label>Password:</label>
        <input placeholder="Enter your password" type="password" />
        <label>Confirm Password:</label>
        <input placeholder="Confirm password" type="password" />
        <button>Sign up</button>
      </form>
      <div class="flex flex-col items-center justify-center mt-10">
        <p class="pt-5">
          Have an account?
          <a routerLink="/" class="text-blue-500 cursor-pointer">Sign In</a>
        </p>
      </div>
    </div>
    <div class="flex items-center justify-center w-2/4">
      <img
        class="max-w-md"
        src="../../assets/img/Mobile login.gif"
        alt="kiduka"
      />
    </div>
  </div>
</div>
