<div class="my-10 w-[1400px] min-h-full p-5 grid grid-cols-3 gap-10">
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_Quad_Headset_1x._SY116_CB667159060_.jpg"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
        >
          <a routerLink="/product"
            ><img src="../../../assets/icons/cart.svg" alt="" /></a
        ></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_Quad_Headset_1x._SY116_CB667159060_.jpg"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_Quad_Headset_1x._SY116_CB667159060_.jpg"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">Baking Tins</h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_Quad_Headset_1x._SY116_CB667159060_.jpg"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_Quad_Headset_1x._SY116_CB667159060_.jpg"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_Quad_Headset_1x._SY116_CB667159060_.jpg"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_Quad_Headset_1x._SY116_CB667159060_.jpg"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_Quad_Headset_1x._SY116_CB667159060_.jpg"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_Quad_Headset_1x._SY116_CB667159060_.jpg"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_Quad_Headset_1x._SY116_CB667159060_.jpg"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_Quad_Headset_1x._SY116_CB667159060_.jpg"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_Quad_Headset_1x._SY116_CB667159060_.jpg"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_Quad_Headset_1x._SY116_CB667159060_.jpg"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
</div>
