<div class="my-10 w-[1400px] p-5 grid grid-cols-3 gap-10">
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://o.remove.bg/downloads/651269dd-b08c-40d3-8078-8e0b46505d42/1-removebg-preview.png"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
        >
          <a routerLink="/product"
            ><img src="../../../assets/icons/cart.svg" alt="" /></a
        ></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://o.remove.bg/downloads/ad4105d2-3677-46f7-a946-ccd9ded78e3d/1-removebg-preview.png"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://o.remove.bg/downloads/93241ec8-7d4c-40d1-9929-d88d7a4f7313/1-removebg-preview.png"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">Baking Tins</h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://o.remove.bg/downloads/c7255dfb-b7e3-4820-912c-0c031fbeb410/1-removebg-preview.png"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://o.remove.bg/downloads/1498726f-6ced-47c8-9170-c09e69d36691/1-removebg-preview.png"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://o.remove.bg/downloads/b444912c-66ca-4147-a00a-9e8838cd8891/1-removebg-preview.png"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://o.remove.bg/downloads/7dc02e3b-a598-4586-9a86-ce0f301f32d6/1-removebg-preview.png"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://o.remove.bg/downloads/5b4c7107-dc5e-4511-a416-ae56b572363a/Rice-_-Grains-removebg-preview.png"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://o.remove.bg/downloads/b02739aa-2985-4898-aba8-f45522e4e48c/of-m10-removebg-preview.png"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://o.remove.bg/downloads/f3eeb812-2d0e-49d7-b54f-e45b9a4a47b9/1-removebg-preview.png"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://o.remove.bg/downloads/1f0c0a4d-7353-4ac3-beda-196ee3a4eb4c/1-removebg-preview.png"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://o.remove.bg/downloads/5a3d8122-dd90-4f13-a362-841451dfbb12/PS5_300x300-removebg-preview.png"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
  <div class="rounded-[1rem] w-[356px]">
    <div
      class="hover:bg-[#C1C0E5] bg-[#F9FAFB] rounded-[1rem] w-[356px] h-[236px] justify-center items-center flex"
    >
      <img
        class="max-h-64"
        src="https://o.remove.bg/downloads/fa92ea7f-3345-4d18-859f-7bcf3d089454/Juices-removebg-preview.png"
        alt=""
      />
    </div>
    <div class="m-7">
      <h2 class="text-[14px] px-2 font-[600] text-[#212B36]">
        Oraimo Smartmouse
      </h2>
      <h3 class="text-[14px] my-4 px-2 font-[400] text-[#637381]">
        oraimo SmartMouse P Anti-skid Ergonomic Design Wide Compatibility
        Professional Wireless Mouse
      </h3>
      <div class="flex justify-between text-center w-full mt-3 p-2">
        <h2 class="text-[14px] px-2 font-[600] text-[#FFC831]">
          $1,999.00
          <span class="text-[14px] px-2 font-[400] text-[#919EAB] line-through"
            >$2,999.00</span
          >
        </h2>
        <span
          class="p-3 rounded-full hover:bg-[#C1C0E5] bg-[#F9FAFB] items-center justify-center flex"
          ><img src="../../../assets/icons/cart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>
</div>
